@model IEnumerable<BilheticaAeronauticaWeb.Entities.Flight>




<br />
<div class="card mb-4">
    <div class="card-header">
    </div>
    <div class="card-body">
<table id="datatablesSimple" class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Airplane)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OriginAirport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationAirport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Layover)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BasePrice)
                </td>
                <th>
                    @Html.DisplayFor(modelItem => item.Airplane.Name)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.OriginAirport.Name)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.DestinationAirport.Name)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.Layover.Name)
                </th>
                <td>
                            @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Customer") || !User.Identity.IsAuthenticated)
                            {
                    <a asp-controller="Tickets" asp-action="Create" asp-route-id="@item.Id" class="btn btn-success">
                        Buy Ticket
                    </a>
                            }
                    @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Staff"))
                    {
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info">Edit</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-light"> Details </a>
                                <a asp-action="Delete" asp-route-id="@item.Id">class="btn btn-dark" Delete </a>
                    }
                </td>
            </tr>
        }
    </tbody>
    </table>




@if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Staff"))
{
    <p>
        <a asp-action="Create" class="btn btn-info">Create New</a>
    </p>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#datatablesSimple').DataTable({
                pageLength: 10,
                language: {
            search: "Search flights: ",
            lengthMenu: "_MENU_" // Just the dropdown, no label
                }
            });
        });
    </script>
}
