@model BilheticaAeronauticaWeb.Entities.Ticket

@{
    ViewData["Title"] = "Details";
}

<br />
<h1 class="text-center">Details</h1>
<hr />
<div class="row justify-content-center">
    <div class="col-md-6">

        <p><strong>@Html.DisplayNameFor(model => model.Name):</strong> @Html.DisplayFor(model => model.Name)</p>
        <p><strong>@Html.DisplayNameFor(model => model.Surname):</strong> @Html.DisplayFor(model => model.Surname)</p>
@*         <p><strong>@Html.DisplayNameFor(model => model.Flight):</strong> @Html.DisplayFor(model => model.Flight.Id)</p> *@
        <p><strong>@Html.DisplayNameFor(model => model.Class):</strong> @Html.DisplayFor(model => model.Class)</p>
        @if (Model.Seat != null)
        {
            <p><strong>@Html.DisplayNameFor(model => model.Seat.Row):</strong> @Html.DisplayFor(model => model.Seat.Row)</p>
            <p><strong>@Html.DisplayNameFor(model => model.Seat.Column):</strong> @Html.DisplayFor(model => model.Seat.Column)</p>
        }
        else
        {
            <p><strong>Seat:</strong> Not assigned</p>
        }
        <p><strong>@Html.DisplayNameFor(model => model.OriginAirport):</strong> @Html.DisplayFor(model => model.OriginAirport.Name)</p>
        <p><strong>@Html.DisplayNameFor(model => model.DestinationAirport):</strong> @Html.DisplayFor(model => model.DestinationAirport.Name)</p>

        @if (Model.Flight!= null)
        {
            @if (Model.Flight.Layover != null)
            {
                <p><strong>@Html.DisplayNameFor(model => model.Flight.Layover.Name):</strong> @Html.DisplayFor(model => model.Flight.Layover.Name)</p>
            }
            else
            {
                <p><strong>Layover:</strong> N/A</p>
            }
           
        }
        
        <p><strong>@Html.DisplayNameFor(model => model.Payment):</strong> @Html.DisplayFor(model => model.Payment)</p>
        <p><strong>@Html.DisplayNameFor(model => model.Price):</strong> @Html.DisplayFor(model => model.Price)</p>
        <p><strong>@Html.DisplayNameFor(model => model.Type):</strong> @Html.DisplayFor(model => model.Type)</p>

        <div class="mt-4">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-info me-2">Edit</a>
            <a asp-controller="Orders" asp-action="Index" class="btn btn-warning btn-dark me-2">Back to order</a>
            @if (this.User.IsInRole("Staff") && this.User.Identity.IsAuthenticated)
            {
                <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-danger">Delete</a>
            }
        </div>

    </div>
</div>

