@model BilheticaAeronauticaWeb.Entities.Airport

@{
    ViewData["Title"] = "Details";
}
</br>
<h1>Details</h1>

<div class="row justify-content-center"> 
    <div class="col-md-4">
        <dl class="row">
            <dt class="col-sm-4 text-end">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-4 text-end">
                @Html.DisplayNameFor(model => model.City.Name)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.City.Name)
            </dd>
            <dt class="col-sm-4 text-end">
                @Html.DisplayNameFor(model => model.Country)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Country.Name)
            </dd>
        </dl>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-info me-2">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</div>
