@model BilheticaAeronauticaWeb.Entities.Order

@{
    ViewData["Title"] = "Details";
}
<br />
<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Payment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Payment)
        </dd>
    </dl>

</div>


<div class="card mb-4">
    <div class="card-header">
    </div>
    <div class="card-body">
        <table id="datatablesSimple" class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Surname
                    </th>
                    <th>
                        Passenger Type
                    </th>
                    <th>
                       Class
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ticket in Model.Tickets)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => ticket.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => ticket.Surname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => ticket.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => ticket.Class)
                        </td>

                        <td class="text-center">
                            <a asp-controller="Tickets" asp-action="Details" asp-route-id="@ticket.Id" class="btn btn-info me-2"> Details </a>
                            <a asp-controller="Tickets" asp-action="Edit" asp-route-id="@ticket.Id" class="btn btn-warning btn-light">Edit</a>
                            <a asp-controller="Tickets" asp-action="Delete" asp-route-id="@ticket.Id" class="btn btn-warning btn-dark">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
