@model IEnumerable<BilheticaAeronauticaWeb.Entities.Country>

@{
    ViewData["Title"] = "Index";
}
<br/>
<h1>Registered Countries</h1>

<br/>
<div class="card mb-4">
    <div class="card-header">
    </div>
    <div class="card-body">
        <table id="datatablesSimple" class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Flag

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
              <input type="hidden" value="@item.Id" />
            </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.ImageFullPath))

                    {
                        <img src="@Url.Content(item.ImageFullPath)" alt="Image" style="width:100px;height:150px;max-width:100%;height:auto;" />
                    }
                </td>
                        <td class="text-center">
                            <div class="d-inline-flex gap-2">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-light">Edit</a>
                                <a asp-action="AddCity" asp-route-countryId="@item.Id" class="btn btn-danger btn-dark">Add City</a>

                            </div>
                        </td>
        </tr>
}
    </tbody>
</table>

        <p>
            <a asp-action="Create" class="btn btn-info">Add Country</a>
        </p>
